body, body #__next, html {
    height: 100%;
}

#__next {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.monospace {
    font-family: Roboto Mono,monospace;
}

.bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

